body,h1,h2,h3,h4,h5,h6,p {font-family: "Lato", sans-serif; color: #F2E8CF;}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: #162719;
}

header {
    padding: 10px;
    text-align: center;
    background-color: #F2E8CF;
}

header h1 {
    color: #162719;
}

footer {
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    
    background-color: #F2E8CF;
    z-index: -1;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: black;
}